@page
@using Management_Atelier_Reparatii.Models
@model Management_Atelier_Reparatii.Pages.ComenziService.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ComandaService</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ComandaService.ComandaServiceId" />
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="ComandaService.MasinaId" class="control-label"></label>
                <select asp-for="ComandaService.MasinaId" class="form-control" asp-items="ViewBag.MasinaId" aria-required="true"></select>
                <span asp-validation-for="ComandaService.MasinaId" class="text-danger"></span>
            </div>
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="ComandaService.MecanicId" class="control-label"></label>
                <select asp-for="ComandaService.MecanicId" class="form-control" asp-items="ViewBag.MecanicId" aria-required="true"></select>
                <span asp-validation-for="ComandaService.MecanicId" class="text-danger"></span>
            </div>
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="ComandaService.DataPrimire" class="control-label"></label>
                <input asp-for="ComandaService.DataPrimire" class="form-control" aria-required="true"/>
                <span asp-validation-for="ComandaService.DataPrimire" class="text-danger"></span>
            </div>
            @* Status is managed from the Index page; hide it here to prevent editing status via Edit form *@
            <div class="form-group">
                <label asp-for="ComandaService.Observatii" class="control-label"></label>
                <input asp-for="ComandaService.Observatii" class="form-control" />
                <span asp-validation-for="ComandaService.Observatii" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
